<div class="user-container">
    <div class="users-container --Parent Component">
       <h2 class="border-wrap"> User Compoent</h2>
        <div>
            <h5>userName: {{ user.name }}</h5>
            <h5>UserStatus: {{ user.status }}</h5>
            <span>
                <button class="btn btn-sm btn-primary" (click)="onupdateStatus('active')">Set Active</button>
                <button class="btn btn-sm btn-danger" (click)="onupdateStatus('in-active')">Set InActive</button>
            </span>
        </div>
    </div>
</div>