<p>user works!</p>
<div>
    <div>User with id is  {{user.id}}</div>
    <div>User with id is  {{user.name}}</div>
</div>

<a 
[routerLink]="['/users',1,'badal']"
[queryParams]="{ page:1,search:'badal'}"
[fragment]="'load'"
> Get Details of badal </a>


<div>
    <button (click)="getDhavalDetails()">
        Get Dhaval Details
    </button>
</div>



<!-- now we have edit button --on click will take that param to other component -->
<div class ="mt-3">
    <button (click)="onClickTakeParamToOtherPage()">Edit Param</button>
</div> 