<div class="users-container">
  <h1 style="color: blue;">Users Component</h1>

  <div class="my-2 col-md-6">
    <!-- Sending data using $event reserved word -->
    <label>User Name EventBinding Example: {{userName}}</label>
    <input type="text" class="form-control" (input)="onUpdateUser($event)" />
    <label>User Name TwoWayDataBinding Example: {{userNameTwoWayDataBinding}}</label>
    <input type="text" class="form-control" [(ngModel)]="userNameTwoWayDataBinding" />
  </div>

  <!-- 
  [disable] - It is an example of Property Binding
  [click] - Event binding -->
  <button class="btn btn-primary" [disabled]="!allowUser" (click)="changeUserStatus()">Add User</button>
  <!-- *ngIf Example --it will only come if user clicks on add user  -->
  <div *ngIf="isUserCreated;else noUser" [ngStyle]="{'background-color':getColor()}">{{userStatus}}</div>
  <!-- ngTemplateExample -->
  <ng-template #noUser>
    <div *ngIf="!isUserCreated" [ngStyle]="{'background-color':getColor()}">{{userStatus}}</div>
  </ng-template>


  <!-- Using [ngClass] directive - to assign multiple classes Inspect to see class-->
  <div class="box" [ngClass]="'class1 class2 class3'">
    <p>[ngclass] directive</p>
  </div>
  <!-- Using [ngClass]  directive- to assign multiple classes Inspect to see class are added uinng object-->
  <div class="box" [ngClass]="mtlclasses">
    <p>[ngclass] directive</p>
  </div>

  <!-- *ngFor Example -->
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>Sr No</th>
        <th>Product Image</th>
        <th>Product Name</th>
        <th>Product Id</th>
        <th>Product Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pro of product;index as i">
        <td>{{i+1}}</td>
        <td><img src="{{pro.proimg}}" style="width: 100px;height: 50px;"></td>
        <td>{{pro.name}}</td>
        <td>{{pro.id}}</td>
        <td>{{pro.price}}</td>
      </tr>
    </tbody>
  </table>

  <!-- ngSwitch/ngSwitchCase/ngSwitchDefault directive example -->
  <div [ngSwitch]="value">
    <div *ngSwitchCase="10">Value is 10</div>
    <div *ngSwitchCase="15">Value is 15</div>
    <div *ngSwitchDefault>Value is default</div>
  </div>
</div>

<app-user></app-user>